.main-window {
    display: flex;
    height: 100vh;
    background-color: #21222c;
    flex-direction: row;
    padding: 0 10% 0 10%;
}

.conv-list {
    flex: 1;
    max-width: 300px;
    min-width: 100px;
    background-color: #282a36;
    margin: 20px 0px 20px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.conv-list button {
    margin: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#add-conv {
    margin-bottom: 1rem; 
    margin-left: 20px;
    max-width: 300px;
}

.conv-list button:focus {
    box-shadow: none;
    background-color: #333;
}

.conv-container {
    flex: 3;
    display: flex;
    flex-direction: column;
}
#conv-container-left {
    max-width: 300px;
}

.input-group {
    padding-left: 20px;
}

.chat-window {
    background-color: #282a36;
    overflow-y: scroll;
    margin: 20px 0px 20px 20px;
    padding: 20px;
    flex: 1;
    border-radius: 10px;
}
.chat-window::-webkit-scrollbar {
    display: none;
}


#send-btn {
    line-height: 0;
}

#send-btn:focus {
    box-shadow: none;
    background-color: #333;
}

.message {
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px;
    max-width: 80%;
    margin-top: 5px;
    margin-bottom: 5px;
    clear: both;
}

.msg-user {
    float: right;
    color: black;
    background-color: #bd93f9;
}

.msg-bot {
    float: left;
    background-color: #6272a4;
}
