<!DOCTYPE html>
<html>

<head>
    <title>Chat</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='/style.css') }}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        // Connect to the Flask-SocketIO server
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        // Update the conv
        var current_conv_id = '999999'

        // Request convs and chat data from server
        window.addEventListener('load', function () {
            socket.emit('get_convs')
            refresh_chatbox_from_conv_id(current_conv_id)
        })
        // Receive convs data from server
        socket.on('get_convs2', function (data) {
            data.forEach(function (row) {
                update_conv_list(row[0], row[1])
            })
        })

        // Receive chat data from server
        socket.on('get_chat_box_contents2', function (data) {
            data.forEach(function (row) {
                update_chatbox(row[2], row[3])
            })
        });

        // Send a message to the server
        function user_input() {
            var input_box = document.getElementById('message-input');
            var message = input_box.value;
            if (message != '') {
                socket.emit('user_message', { conv_id: current_conv_id, role: 'user', msg: message });
                input_box.value = '';
            }
            document.getElementById('message-input').focus();
        }
        // Handle user's messages
        socket.on('user_message2', function (data) {
            current_conv_id = data.conv_id;
            refresh_chatbox_from_conv_id(current_conv_id)
        });

        // Add a new conversatino to the conv list
        function update_conv_list(conv_id, conv_topic) {
            var conv_list = document.getElementById('conv-list');
            var conv_item = document.createElement('button');
            conv_item.className = 'btn btn-secondary';
            conv_item.id = conv_id;
            conv_item.onclick = function () {
                current_conv_id = conv_id;
                refresh_chatbox_from_conv_id(conv_item.id);
            };
            conv_item.innerHTML = conv_topic;
            conv_list.appendChild(conv_item);
        }

        // To switch the conv and update the chat box according to the selected conv
        function refresh_chatbox_from_conv_id(conv_id) {
            document.getElementById('chat-box').innerHTML = '';
            socket.emit('get_chat_box_contents', { conv_id: conv_id })
        }

        // Add a new message to the chat box
        function update_chatbox(role, message) {
            var chat_box = document.getElementById('chat-box');
            var new_message = document.createElement('div');
            if (role === 'user') {
                new_message.className = 'message msg-user';
            } else if (role === 'assistant') {
                new_message.className = 'message msg-bot';
            };
            new_message.innerHTML = message;
            chat_box.appendChild(new_message);
        }
    </script>

</head>

<body>
    <div class="main-window">
        <div id="conv-container-left" class="conv-container">
            <div id="conv-list" class="conv-list">
            </div>
            <button id='add-conv' class="btn btn-secondary">New</button>
        </div>
        <div class="conv-container">
            <div id="chat-box" class="chat-window">

            </div>
            <div class="input-group mb-3">
                <input id="message-input" type="text" class="form-control" placeholder="Message">
                <button id="send-btn" type="button" class="btn btn-secondary" onclick="user_input()">
                    <span class="material-symbols-outlined">
                        send
                    </span>
                </button>
            </div>
        </div>
    </div>
</body>

</html>